---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import AboutSection from '../components/AboutSection';
import ServicesSection from '../components/ServicesSection';
import Footer from '../components/Footer';
import { fetchServices, fetchPartners, fetchDiplomas, fetchReviews, fetchHomePage } from '../lib/queries';

const [services, partners, diplomas, reviews, homePage] = await Promise.all([
  fetchServices(),
  fetchPartners(),
  fetchDiplomas(),
  fetchReviews(),
  fetchHomePage(),
]);
---

<Layout>
  <Navbar client:load />
  <main>
    <Hero homePage={homePage} client:load />
    <AboutSection diplomas={diplomas} homePage={homePage} client:load />
    <ServicesSection services={services} partners={partners} reviews={reviews} homePage={homePage} client:load />
  </main>
  <Footer client:load />
</Layout>
